[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
requests = "*"
bs4 = "*"
feedparser = "*"
tqdm = "*"
sklearn = "*"
gensim = "*"
pandas = "*"
janome = "*"
cython = "*"

[dev-packages]

[requires]
python_version = "3.9"
